@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Home Page*/
.main-page{
  text-align: center;
}

.main{
  display:block;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  color: #0a0a0a;
}

.education-page,
.skills-page,
.projects-page,
.contact-page{
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  align-items: center;
}

.school-card,
.skill-card,
.project-card,
.contact-card{
  border:2px solid #ff0000;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 6px 6px 6px 6px;
  margin: 6px;
}

.schools,
.skills,
.projects,
.contacts{
  display: flex;
  flex-direction: row;
}

.home-button,
.education-button,
.skill-button,
.project-button,
.contact-button{
  display:block;
  border: 2px solid #ff0000;
  background-color: #0a0a0a;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 8px;
  color: #ffffff;
}

.education-button:hover,
.skill-button:hover,
.project-button:hover,
.contact-button:hover,
.home-button:hover{
  text-decoration: underline;
  background-color: #ff0000;
}
